<section id="formations">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">Formations</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<img
								class="rounded-circle h-100 w-100"
								src="../../assets/images/uqac_haute_resolution.jpg"
							/>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h5>Août 2019 - Aujourd'hui</h5>
								<h4 class="subheading">UQAC</h4>
							</div>
							<div class="timeline-body">
								<p>
									Je réalise actuellement un double diplôme à l'Université du Québec à Chicoutimi
									(UQAC) pour obtenir une maîtrise informatique et un diplôme d'ingénieur informatique
									(avec Polytech Tours). J'ai pu approfondir mes connaissances en gestion de projet
									(cahier des spécifications, méthodologies Agile/Scrum et prédictive tel que en
									cascade et en V), en programmation objet, génie logiciel et qualité logicielle. Mais
									aussi mes compétences en développement.
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="../../assets/images/polytechtours.jpg" alt="" />
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h5>Septembre 2019 - Aujourd'hui</h5>
								<h4 class="subheading">Polytech Tours</h4>
							</div>
							<div class="timeline-body">
								<p>
									J'étudie actuellement à Polytech Tours dans le cursus ingénieur informatique. J'ai
									pu apprendre différents langages de programmation mais aussi pu en apprendre
									davantage sur les systèmes répartis, le génie logiciel, la qualité logicielle, le
									cycle de vie d'un projet, l'algorithmie et la gestion de projet.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="../../assets/images/univtours.jpg" alt="" />
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h5>Septembre 2015 - Juin 2017</h5>
								<h4 class="subheading">PeiP Tours</h4>
							</div>
							<div class="timeline-body">
								<p>
									J'ai complété le Parcours des écoles d'ingénieurs Polytech (PeiP) en mathématiques
									et informatique (MI) à Polytech Tours. J'ai découvert quelques langages ainsi que
									réalisé deux principaux projets : le mouvement d'un moteur par la voix (en python
									avec une librairie de reconnaissance vocale existante) et une étude de création
									d'une ligne B pour le tramway de Tours.
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img
								class="rounded-circle img-fluid"
								src="../../assets/images/camilleguerin.png"
								style="height: 100%; width: 100%"
							/>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h5>Septembre 2012 - Juin 2015</h5>
								<h4 class="subheading">Lycée Camille Guérin</h4>
							</div>
							<div class="timeline-body">
								<p>Diplômé du baccalauréat filière S avec la spécialité mathématiques.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
