<section id="education" class="bg-nuance">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase" i18n="@@education">Formations</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<ul class="timeline">
					<li>
						<div class="timeline-image">
							<img
								class="rounded-circle h-100 w-100"
								src="../../assets/images/uqac_haute_resolution.jpg"
							/>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h5 i18n>Août 2019 - Aujourd'hui</h5>
								<h4 class="subheading">UQAC</h4>
							</div>
							<div class="timeline-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item bg-transparent" i18n>Double diplôme</li>
									<li class="list-group-item bg-transparent" i18n>Maîtrise informatique à l'UQAC</li>
									<li class="list-group-item bg-transparent" i18n>
										Diplôme d'ingénieur informatique à Polytech Tours
									</li>
									<li class="list-group-item bg-transparent" i18n>
										Gestion de projet (spécifications fonctionnelles et techniques, méthologies
										Agiles et Prédictives)
									</li>
									<li class="list-group-item bg-transparent" i18n>
										Programmation objet avancée, génie logiciel, qualité logicielle, patrons de
										conception, applications d'entreprise, ERP
									</li>
									<li class="list-group-item bg-transparent" i18n>
										JEE, C#/.NET, Razor MVC, Struts 2, Android (Java), Moleculer, Spring, Maven,
										UML, SQL, Angular CLI & Material, TS, Git, Bootstrap
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="../../assets/images/polytechtours.jpg" alt="" />
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h5 i18n>Septembre 2017 - Aujourd'hui</h5>
								<h4 class="subheading">Polytech Tours</h4>
							</div>
							<div class="timeline-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item bg-transparent" i18n>
										Diplôme d'ingénieur informatique
									</li>
									<li class="list-group-item bg-transparent" i18n>
										Génie logiciel, qualité logicielle, cycle de vie des projet, gestion de projet
										(spécifications fonctionnelles et techniques)
									</li>
									<li class="list-group-item bg-transparent" i18n>Algorithmie</li>
									<li class="list-group-item bg-transparent" i18n>
										Java/JEE, C#/.NET, Qt, JQuery, JS, Bootstrap, Spring, Maven, Hibernate, Swing,
										Trello, UML, SQL, C/C++, Git, Gantt
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-image">
							<img class="rounded-circle img-fluid" src="../../assets/images/univtours.jpg" alt="" />
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h5 i18n>Septembre 2015 - Juin 2017</h5>
								<h4 class="subheading">PeiP Tours</h4>
							</div>
							<div class="timeline-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item bg-transparent" i18n>Classe préparatoire intégrée</li>
									<li class="list-group-item bg-transparent" i18n>Mathématiques et informatique</li>
									<li class="list-group-item bg-transparent" i18n>
										Projet de mouvement d'un moteur par la voix (Python)
									</li>
									<li class="list-group-item bg-transparent" i18n>
										Étude pour la création d'une nouvelle ligne de tramway
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-image">
							<img
								class="rounded-circle img-fluid"
								src="../../assets/images/camilleguerin.png"
								style="height: 100%; width: 100%"
							/>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h5 i18n>Septembre 2012 - Juin 2015</h5>
								<h4 class="subheading">Lycée Camille Guérin</h4>
							</div>
							<div class="timeline-body">
								<ul class="list-group list-group-flush">
									<li class="list-group-item bg-transparent" i18n>
										Diplôme du baccalauréat filière S
									</li>
									<li class="list-group-item bg-transparent" i18n>Spécialité mathématiques</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
