<div class="text-center">
	<h1 class="text-uppercase" mat-dialog-title>T.A.GEDOFIS</h1>
</div>

<mat-dialog-content>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 offset-lg-2 mb-3 text-center">
				<img class="img-fluid mx-auto" src="../../../assets/images/TAGEDOFIS.jpg" />
			</div>
			<!-- <div class="col-12 text-center">
				<p i18n>
					Durant deux mois j'ai travaillé pour le compte de la DDT (Direction Départementale des Territoires)
					et j'ai été amené à développer une application de gestion des dossiers de taxes d'aménagement. Cette
					application est complémentaire à un logiciel national (qui enregistre les dossiers), car en effet
					celui-ci ne permet pas de rechercher les taxes non enregistrées (dossiers manquants). Mon
					application permet donc de rechercher ces dossiers afin de pouvoir par la suite contacter les
					communes pour les informer, mais permet aussi de générer des tableaux croisés pour fournir des
					statistiques sur le nombre de dossiers manquants par commune, par année et par type de taxe.
				</p>
			</div> -->
			<div class="col-12 col-lg-6">
				<h6>Fonctionnalités</h6>
				<ul class="list-group list-group-flush">
					<li class="list-group-item" i18n>Lecture de dossiers contenant des fichiers CSV</li>
					<li class="list-group-item" i18n>Recherche de dossiers manquants (taxes d'aménagement)</li>
					<li class="list-group-item" i18n>
						Consultation et exportation de tableaux croisés en CSV et Excel
					</li>
					<li class="list-group-item" i18n>Consultation et exportation de statistiques en CSV et Excel</li>
					<li class="list-group-item" i18n>
						Filtrage des recherches et consultations par année ou groupe d'années, commune, type de taxe
					</li>
				</ul>
			</div>
			<div class="col-12 col-lg-6">
				<h6>Contexte</h6>
				<ul class="list-group list-group-flush">
					<li class="list-group-item" i18n>Direction Départementale des Territoires</li>
					<li class="list-group-item" i18n>Développement Java et Swing pour l'UI</li>
				</ul>
			</div>
			<div class="col-12 text-center">
				<a href="https://github.com/kilian-paquier/T.A.GEDOFIS" class="mx-1" target="_blank">
					<fa-icon [icon]="faGithub" class="fa-3x"></fa-icon>
				</a>
			</div>
			<div class="col-12">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<fa-icon [icon]="faCalendar" class="mr-3-5"></fa-icon>
						<span i18n>Août 2018</span>
					</li>
					<li class="list-group-item">
						<fa-icon [icon]="faCourse" class="mr-3-1"></fa-icon>
						<span i18n>Direction Départementale des Territoires</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close i18n="@@closedialog" class="text-uppercase">Fermer le projet</button>
</mat-dialog-actions>
