<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 animated slideInLeft mb-3 mb-lg-0">
				<span class="copyright">Copyright &copy; Kilian Paquier {{initYear}} - {{year}}</span>
				<br class="pb-0" />
				<span>
					Créé avec
					<a href="https://angular.io/" target="_blank">Angular</a>
					et
					<a href="https://material.angular.io/" target="_blank">Angular Material</a>
				</span>
				<br class="pb-0" />
				<a href="/images" target="_blank">Références sur les images</a>
			</div>
		</div>
	</div>
</footer>
