<footer id="footer" class="bg-nuance">
	<div class="container">
		<div class="row">
			<div class="col-12 mb-3 mb-lg-0">
				<span class="copyright">Copyright &copy; Kilian Paquier {{initYear}} - {{year}}</span>
				<!-- <br class="pb-0" />
				<span class="footer">
					<a href="https://angular.io/" target="_blank">Angular</a>
					<span>&nbsp;</span>
					<a href="https://material.angular.io/" target="_blank">Angular Material</a>
				</span>
				<br class="pb-0" />
				<span class="footer">
					<a href="https://www.npmjs.com/package/@nicky-lenaers/ngx-scroll-to" target="_blank">NgxScrollTo</a>
					<span>&nbsp;</span>
					<a href="https://www.npmjs.com/package/ngx-cookie-service" target="_blank">NgxCookieService</a>
				</span>
				<br class="pb-0" />
				<span class="footer">
					<a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
					<span>&nbsp;</span>
					<a href="https://hammerjs.github.io/" target="_blank">Hammerjs</a>
					<span>&nbsp;</span>
					<a href="https://devicon.dev/" target="_blank">Devicon</a>
				</span> -->
				<br class="pb-0" />
				<span class="footer">
					<a href="/images" target="_blank" i18n>Références sur les images</a>
				</span>
			</div>
		</div>
	</div>
</footer>
