<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 mb-3 mb-lg-0">
				<span class="copyright">Copyright &copy; Kilian Paquier {{initYear}} - {{year}}</span>
				<br class="pb-0" />
				<span class="footer">
					<span i18n>Créé avec</span>
					<a href="https://angular.io/" target="_blank">Angular</a>
					<span i18n>et</span>
					<a href="https://material.angular.io/" target="_blank">Angular Material</a>
				</span>
				<br class="pb-0" />
				<span class="footer">
					<a href="/images" target="_blank" i18n>Références sur les images</a>
				</span>
			</div>
		</div>
	</div>
</footer>
