{
	"$schema": "http://json.schemastore.org/prettierrc",
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto",
	"semi": true,
	"printWidth": 120,
	"trailingComma": "es5",
	"jsxBracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "html"
			}
		}
	]
}
