<section id="experiences">
	<div class="container">
		<div class="row animated fadeIn mb-5">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase" i18n="@@experiences">Expériences professionelles</h2>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-12 col-lg-6 mb-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">ALTEN</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">Août 2020 à Février 2021</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/alten.png" />
					<mat-card-content>
						<mat-expansion-panel (afterExpand)="closeOthersPanels(0)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">Cliquez pour en savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<p i18n></p>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-12 col-lg-6 mb-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Eurosys - CHEOPS</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">Juin à Août 2019</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/logo-eurosys.jpg" />
					<mat-card-content>
						<mat-expansion-panel (afterExpand)="closeOthersPanels(1)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">Cliquez pour en savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<p i18n>
								Pour mon stage de 4e année à Polytech Tours, j'ai travaillé chez Euro-Sys où j'avais
								deux missions. La première, analyser et comparer la version du framework (ExtJS) utilisé
								et la nouvelle version afin d'estimer les modifications et le temps nécessaires pour le
								changement de version sur l'ERP. La seconde, implémenter plusieurs fonctionnalité dans
								ce même ERP.
							</p>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-12 col-lg-6 mb-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Direction Départementale des Territoires</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">Août 2018</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/ddt.jpg" />
					<mat-card-content>
						<mat-expansion-panel (afterExpand)="closeOthersPanels(2)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">Cliquez pour en savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<p i18n>
								J'ai travaillé dans le cadre d'un CDD à la Direction Départementale des Territoires
								(DDT) dans le but de développer une application de recherche de dossiers manquants
								(taxes d'aménagement) et de génération de tableaux croisés : T.A.GEDOFIS.
							</p>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-12 col-lg-6 mb-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Union Française des Centres de Vacances</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">Février, Avril et Août 2017</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/logoufcv-hd.jpg" />
					<mat-card-content>
						<mat-expansion-panel (afterExpand)="closeOthersPanels(3)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">Cliquez pour en savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<p i18n>
								J'ai travaillé à l'Union Française des Centres de Vacances et de loisirs (UFCV) en tant
								que formateur BAFA. J'ai participé à trois sessions de formation, une session base (la
								découverte de la règlementation, des caractéristiques des jeunes, l'élaboration
								d'animations) et deux sessions d'approfondissement (diversification et agrandissement
								des connaissances).
							</p>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-12 col-lg-6 mb-3 mb-lg-0">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">C'est Génial Comme Vacances</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">Juillet 2016 et 2017</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/cgcv.jpeg" />
					<mat-card-content>
						<mat-expansion-panel (afterExpand)="closeOthersPanels(4)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">Cliquez pour en savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<p i18n>
								Sur deux colonies de vacances de trois semaines chacunes en Alsace, j'ai travaillé au
								CGCV (C'est Génial Comme Vacances) en tant qu'animateur. J'ai animé ces deux fois des
								jeunes de 6 à 12 ans avec l'organisation d'activités, animations, grandes animations,
								sorties et veillées.
							</p>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-12 col-lg-6">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Direction Régionale des Territoires</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">Juin 2016</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/dreal.png" />
					<mat-card-content>
						<mat-expansion-panel (afterExpand)="closeOthersPanels(5)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">Cliquez pour en savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<p i18n>
								Dans le cadre de mon stage de première année de PeiP (à Polytech Tours), j'ai travaillé
								à la Direction Régionale de l'Environnement, de l'Aménagement et du Logement (DREAL).
								Durant ce stage j'ai pu découvrir la mise à jour des serveurs ainsi que participer à la
								mise en place de la téléphone IP (branchements sur les switchs et dans les bureaux).
							</p>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</section>
