<section id="experiences">
	<div class="container animated fadeIn">
		<div class="row mb-5">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase" i18n>Expériences professionelles</h2>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-12 col-lg-6 mb-3 wow fadeInLeft">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">ALTEN</mat-card-title>
						<mat-card-subtitle class="text-left ml-3" i18n>Août 2020 à Février 2021</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/alten.png" />
					<mat-card-content>
						<mat-expansion-panel (opened)="closeOthersPanels(0)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">En savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<ul class="text-left list-group list-group-flush">
								<li class="list-group-item bg-transparent" i18n="@@intern">Stagiaire</li>
								<li class="list-group-item bg-transparent" i18n>Développement ÉlectronJS</li>
								<li class="list-group-item bg-transparent" i18n>Utilisation d'une Blockchain</li>
								<li class="list-group-item bg-transparent" i18n>
									Élaboration de spécifications fonctionnelles
								</li>
								<li class="list-group-item bg-transparent" i18n>
									Élaboration d'un Bilan Scientifique & Technique
								</li>
								<li class="list-group-item bg-transparent" i18n>
									Développement TypeScript & API NestJS
								</li>
							</ul>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-12 col-lg-6 mb-3 wow fadeInRight">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Eurosys - CHEOPS</mat-card-title>
						<mat-card-subtitle class="text-left ml-3" i18n>Juin à Août 2019</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/logo-eurosys.jpg" />
					<mat-card-content>
						<mat-expansion-panel (opened)="closeOthersPanels(1)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">En savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<ul class="text-left list-group list-group-flush">
								<li class="list-group-item bg-transparent" i18n="@@intern">Stagiaire</li>
								<li class="list-group-item bg-transparent" i18n>
									Analyse de la version du framework de l'ERP (ExtJS)
								</li>
								<li class="list-group-item bg-transparent" i18n>
									Estimation d'un temps et des changements à effectuer pour passer à une version plus
									récente du framework
								</li>
								<li class="list-group-item bg-transparent" i18n>
									Développement de plusieurs fonctionnalités sur l'ERP
								</li>
							</ul>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-12 col-lg-6 mb-3 wow fadeInLeft" data-wow-delay="0.1s">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">DDT*</mat-card-title>
						<mat-card-subtitle class="text-left ml-3" i18n>Août 2018</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/ddt.jpg" />
					<mat-card-content>
						<mat-expansion-panel (opened)="closeOthersPanels(2)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">En savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<ul class="text-left list-group list-group-flush">
								<li class="list-group-item bg-transparent" i18n>Vacataire</li>
								<li class="list-group-item bg-transparent" i18n>Analyse des besoins d'un client</li>
								<li class="list-group-item bg-transparent" i18n>Développement de T.A.GEDOFIS</li>
								<li class="list-group-item bg-transparent" i18n>
									Java SE, Swing, Exportation CSV et Excel
								</li>
								<li class="list-group-item bg-transparent" i18n>
									Recherche de dossiers (taxes d'aménagement) manquants
								</li>
								<li class="list-group-item bg-transparent" i18n>Génération de tableaux croisés</li>
							</ul>
							<mat-card-subtitle class="text-right" style="bottom: 0 !important; right: 0 !important">
								*Direction Départementale des Territoires
							</mat-card-subtitle>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-12 col-lg-6 mb-3 wow fadeInRight" data-wow-delay="0.1s">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">UFCV*</mat-card-title>
						<mat-card-subtitle class="text-left ml-3" i18n>Février, Avril et Août 2017</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/logoufcv-hd.jpg" />
					<mat-card-content>
						<mat-expansion-panel (opened)="closeOthersPanels(3)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">En savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<ul class="text-left list-group list-group-flush">
								<li class="list-group-item bg-transparent" i18n>Formateur BAFA</li>
								<li class="list-group-item bg-transparent" i18n>
									Plusieurs sessions d'approfondissement
								</li>
								<li class="list-group-item bg-transparent" i18n>Une session de base</li>
								<li class="list-group-item bg-transparent" i18n>
									Élaboration de séances de formation avec fil rouge
								</li>
							</ul>
							<mat-card-subtitle class="text-right" style="bottom: 0 !important; right: 0 !important">
								*Union Française des Centres de Vacances
							</mat-card-subtitle>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-12 col-lg-6 mb-3 mb-lg-0 wow fadeInLeft" data-wow-delay="0.2s">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">CGCV*</mat-card-title>
						<mat-card-subtitle class="text-left ml-3" i18n>Juillet 2016 et 2017</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/cgcv.jpeg" />
					<mat-card-content>
						<mat-expansion-panel (opened)="closeOthersPanels(4)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">En savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<ul class="text-left list-group list-group-flush">
								<li class="list-group-item bg-transparent" i18n>Animateur BAFA</li>
								<li class="list-group-item bg-transparent" i18n>Organisation d'activités</li>
							</ul>
							<mat-card-subtitle class="text-right" style="bottom: 0 !important; right: 0 !important">
								*C'est Génial Comme Vacances
							</mat-card-subtitle>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
			<div class="col-12 col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">DREAL*</mat-card-title>
						<mat-card-subtitle class="text-left ml-3" i18n>Juin 2016</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image class="experience-image" src="../../assets/images/dreal.png" />
					<mat-card-content>
						<mat-expansion-panel (opened)="closeOthersPanels(5)">
							<mat-expansion-panel-header>
								<mat-panel-title i18n="@@knowmore">En savoir plus</mat-panel-title>
							</mat-expansion-panel-header>
							<ul class="text-left list-group list-group-flush">
								<li class="list-group-item bg-transparent" i18n="@@intern">Stagiaire</li>
								<li class="list-group-item bg-transparent" i18n>
									Découverte de la mise à jour des serveurs
								</li>
								<li class="list-group-item bg-transparent" i18n>
									Installation de la téléphonie IP au niveau des switchs et bureaux
								</li>
							</ul>
							<mat-card-subtitle class="text-right" style="bottom: 0 !important; right: 0 !important">
								*Direction Régionale de l'Environnement, de l'Aménagement et du Logement
							</mat-card-subtitle>
						</mat-expansion-panel>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</section>
