<section id="projects">
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase" i18n="@@projects">Projets</h2>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-12 col-md-6 col-lg-4 mb-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">For the Berry</mat-card-title>
						<mat-card-subtitle class="text-left ml-4">Unity, C#, Perforce</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../assets/images/fortheberry1.png" />
					<mat-card-actions align="end">
						<button
							mat-button
							i18n="@@knowmoredialog"
							class="text-uppercase"
							(click)="openDialog('ForTheBerry')"
						>
							En savoir plus
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="col-12 col-md-6 col-lg-4 mb-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Share Your Fit</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">Android (Java), Firebase</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../assets/images/shareyourfit_1.png" />
					<mat-card-actions align="end">
						<button
							mat-button
							i18n="@@knowmoredialog"
							class="text-uppercase"
							(click)="openDialog('ShareYourFit')"
						>
							En savoir plus
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="col-12 col-md-6 col-lg-4 mb-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Flotte de camions</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">C#, .NET, Razor, EF6, MS SQL</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../assets/images/net1_1.png" />
					<mat-card-actions align="end">
						<button
							mat-button
							i18n="@@knowmoredialog"
							class="text-uppercase"
							(click)="openDialog('FlotteCamionsNet')"
						>
							En savoir plus
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="col-12 col-md-6 col-lg-4 mb-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Flotte de camions</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">
							JEE, Struts 2, JDBC, Bootstrap
						</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../assets/images/struts2_1.jpg" />
					<mat-card-actions align="end">
						<button
							mat-button
							i18n="@@knowmoredialog"
							class="text-uppercase"
							(click)="openDialog('FlotteCamionsJEE')"
						>
							En savoir plus
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="col-12 col-md-6 col-lg-4 mb-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Gestion EPI</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">Web, Bootstrap, Management</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../assets/images/epi.JPG" />
					<mat-card-actions align="end">
						<button
							mat-button
							i18n="@@knowmoredialog"
							class="text-uppercase"
							(click)="openDialog('GestionEPI')"
						>
							En savoir plus
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="col-12 col-md-6 col-lg-4 mb-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">DoctoPatients</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">C++, Qt, SQLite</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../assets/images/patients.JPG" />
					<mat-card-actions align="end">
						<button
							mat-button
							i18n="@@knowmoredialog"
							class="text-uppercase"
							(click)="openDialog('DoctoPatients')"
						>
							En savoir plus
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Liste d'étudiants</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">
							Java, Swing, MVC, Planification
						</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../assets/images/students.jpg" />
					<mat-card-actions align="end">
						<button
							mat-button
							i18n="@@knowmoredialog"
							class="text-uppercase"
							(click)="openDialog('StudentList')"
						>
							En savoir plus
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-0 mb-lg-0">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">T.A.GEDOFIS</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">Java, Swing, MVC</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../assets/images/TAGEDOFIS.jpg" />
					<mat-card-actions align="end">
						<button
							mat-button
							i18n="@@knowmoredialog"
							class="text-uppercase"
							(click)="openDialog('T.A.GEDOFIS')"
						>
							En savoir plus
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<mat-card>
					<mat-card-header>
						<mat-card-title class="text-left">Pointeuse</mat-card-title>
						<mat-card-subtitle i18n class="text-left ml-4">Java, Swing, MVC</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../assets/images/pointeuse.jpg" />
					<mat-card-actions align="end">
						<button
							mat-button
							i18n="@@knowmoredialog"
							class="text-uppercase"
							(click)="openDialog('Pointeuse')"
						>
							En savoir plus
						</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
	</div>
</section>
