<div class="text-center">
	<h1 class="text-uppercase" mat-dialog-title>Share Your Fit</h1>
</div>

<mat-dialog-content>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 offset-lg-2 mb-3 text-center">
				<img class="img-fluid mx-auto" src="../../../assets/images/shareyourfit_1.png" />
			</div>
			<!-- <div class="col-12 text-center">
				<p i18n>
					Dans l'objectif de valider mon cours de plateformes mobiles, j'ai travaillé avec deux étudiants sur
					une application de partage d'entraînements sportifs à la salle de sport. L'objectif principal étant
					de permettre aux adeptes (utilisateurs des salles de sport) de visualiser le fonctionnement des
					machines dans les salles de sport (à travers des exercices partagés par les adeptes et coachs).
					L'adepte peut prendre connaissance de ce fonctionnement avec le scan d'un QR Code présent sur la
					machine, qui le renverra vers l'application avec la liste des exercices liés à cette machine. Sinon,
					il peut toujours visualiser la liste de tous les exercices dans l'application et réaliser des
					recherches à travers des tags.
				</p>
			</div> -->
			<div class="col-12 col-lg-6">
				<h6>Fonctionnalités</h6>
				<ul class="list-group list-group-flush">
					<li class="list-group-item" i18n>Inscription conventionnelle ou via Google et Facebook</li>
					<li class="list-group-item" i18n>Visualiser des entraînements liés à une machine</li>
					<li class="list-group-item" i18n>
						Scanner le QR Code d'une machine pour visualiser les entraînements possibles pour cette machine
					</li>
					<li class="list-group-item" i18n>
						Recherche via des tags pour trouver des entraînements spécifiques et la machine liée
					</li>
				</ul>
			</div>
			<div class="col-12 col-lg-6">
				<h6>Contexte</h6>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">UQAC</li>
					<li class="list-group-item" i18n>Développement Android (Java)</li>
					<li class="list-group-item" i18n>Firebase et Firestore</li>
				</ul>
			</div>
			<div class="col-12 text-center">
				<a href="https://github.com/kilian-paquier/share-your-fit" class="mx-1" target="_blank">
					<fa-icon [icon]="faGithub" class="fa-3x"></fa-icon>
				</a>
			</div>
			<div class="col-12">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<fa-icon [icon]="faCalendar" class="mr-3-5"></fa-icon>
						<span i18n>Avril 2020</span>
					</li>
					<li class="list-group-item">
						<fa-icon [icon]="faCourse" class="mr-3-1"></fa-icon>
						<span i18n>Plateformes mobiles</span>
					</li>
					<li class="list-group-item">
						<fa-icon [icon]="faUsers" class="mr-2-5"></fa-icon>
						Alexia NEUFOND, Vincent BOYER, Kilian PAQUIER
					</li>
				</ul>
			</div>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close i18n="@@closedialog" class="text-uppercase">Fermer le projet</button>
</mat-dialog-actions>
