<section id="interets">
	<div class="container">
		<div class="row animated fadeIn mb-5">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase stati18n s18n-interets"></h2>
			</div>
		</div>
		<div class="row text-center">
			<div class="offset-lg-1 col-sm-4 col-lg-2 col-md-4 mb-2 mb-lg-0">
				<span class="fa-stack fa-3x animated zoomIn mb-3">
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front">
								<img
									class="rounded-circle border-experiences img-fluid"
									src="images/tvtime.jpg"
									alt=""
								/>
							</div>
							<div class="back">
								<img
									class="rounded-circle border-experiences img-fluid"
									src="images/tvtime.jpg"
									alt=""
								/>
							</div>
						</div>
					</div>
				</span>
				<div class="animated fadeIn">
					<h4 class="service-heading stati18n s18n-tv-shows"></h4>
					<p class="text-muted"></p>
				</div>
			</div>
			<div class="col-md-4 col-lg-2 col-sm-4 mb-2 mb-lg-0">
				<span class="fa-stack fa-3x animated zoomIn mb-3">
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front">
								<img
									class="rounded-circle border-experiences img-fluid"
									src="images/basketball.jpg"
									alt=""
								/>
							</div>
							<div class="back">
								<img
									class="rounded-circle border-experiences img-fluid"
									src="images/basketball.jpg"
									alt=""
								/>
							</div>
						</div>
					</div>
				</span>
				<div class="animated fadeIn">
					<h4 class="service-heading">Basket</h4>
					<p class="text-muted"></p>
				</div>
			</div>
			<div class="col-md-4 col-lg-2 col-sm-4 mb-2 mb-lg-0">
				<span class="fa-stack fa-3x animated zoomIn mb-3">
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front">
								<img
									class="rounded-circle border-experiences img-fluid"
									src="images/voyage.jpg"
									alt=""
								/>
							</div>
							<div class="back">
								<img
									class="rounded-circle border-experiences img-fluid"
									src="images/voyage.jpg"
									alt=""
								/>
							</div>
						</div>
					</div>
				</span>
				<div class="animated fadeIn">
					<h4 class="service-heading stati18n s18n-travels"></h4>
					<p class="text-muted"></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-2 col-sm-6 mb-2 mb-lg-0">
				<span class="fa-stack fa-3x animated zoomIn mb-3">
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front">
								<img
									class="rounded-circle border-experiences img-fluid"
									src="images/videogame.jpg"
									alt=""
								/>
							</div>
							<div class="back">
								<img
									class="rounded-circle border-experiences img-fluid"
									src="images/videogame.jpg"
									alt=""
								/>
							</div>
						</div>
					</div>
				</span>
				<div class="animated fadeIn">
					<h4 class="service-heading stati18n s18n-video-games"></h4>
					<p class="text-muted"></p>
				</div>
			</div>
			<div class="col-md-6 col-lg-2 col-sm-6">
				<fa-stack class="fa-3x animated zoomIn mb-3">
					<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper">
							<div class="front">
								<img
									class="rounded-circle border-experiences img-fluid"
									src="images/bobine.jpg"
									alt=""
								/>
							</div>
							<div class="back">
								<img
									class="rounded-circle border-experiences img-fluid"
									src="images/bobine.jpg"
									alt=""
								/>
							</div>
						</div>
					</div>
				</fa-stack>
				<div class="animated fadeIn">
					<h4 class="service-heading stati18n s18n-movies"></h4>
					<p class="text-muted"></p>
				</div>
			</div>
		</div>
	</div>
</section>
