<section id="skills">
	<div class="container animated fadeIn">
		<div class="row mb-5">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase" i18n="@@skills">Compétences</h2>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-12">
				<h3 class="section-subheading mb-4" i18n>Programmation</h3>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-java-plain colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					title="Java ⚪⚪⚪⚪⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-csharp-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.1s"
					data-toggle="tooltip"
					data-placement="auto"
					title="C# ⚪⚪⚪⚪⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-cplusplus-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.2s"
					data-toggle="tooltip"
					data-placement="auto"
					title="C++ ⚪⚪⚪⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-c-plain icon colored fa-3x devicon wow flipInY"
					data-wow-delay="0.3s"
					data-toggle="tooltip"
					data-placement="auto"
					title="C ⚪⚪⚪⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-css3-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.4s"
					data-toggle="tooltip"
					data-placement="auto"
					title="CSS3 ⚪⚪⚪⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-sass-original colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.5s"
					data-toggle="tooltip"
					data-placement="auto"
					title="SCSS ⚪⚫⚫⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-html5-plain colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					title="HTML5 ⚪⚪⚪⚪⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-typescript-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.1s"
					data-toggle="tooltip"
					data-placement="auto"
					title="TypeScript ⚪⚪⚪⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-php-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.2s"
					data-toggle="tooltip"
					data-placement="auto"
					title="PHP ⚪⚪⚪⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-javascript-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.3s"
					data-toggle="tooltip"
					data-placement="auto"
					title="Javascript ⚪⚪⚪⚪⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-android-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.4s"
					data-toggle="tooltip"
					data-placement="auto"
					title="Android (Java) ⚪⚪⚪⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.5s">
					<img
						src="../../assets/skills/sql.png"
						class="align-top"
						height="48"
						data-toggle="tooltip"
						data-placement="auto"
						title="MySQL / SQLite ⚪⚪⚪⚪⚫"
					/>
				</i>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-12">
				<h3 class="section-subheading mb-4">Frameworks</h3>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-bootstrap-plain colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					title="Bootstrap ⚪⚪⚪⚪⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-jquery-plain-wordmark colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.1s"
					data-toggle="tooltip"
					data-placement="auto"
					title="JQuery ⚪⚪⚪⚪⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-dot-net-plain-wordmark colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.2s"
					data-toggle="tooltip"
					data-placement="auto"
					title=".NET ⚪⚪⚪⚪⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.3s">
					<img
						src="../../assets/skills/spring-3.svg"
						class="align-top"
						height="48"
						data-toggle="tooltip"
						data-placement="auto"
						title="Spring ⚪⚪⚪⚫⚫"
					/>
				</i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.4s">
					<img
						src="../../assets/skills/struts.svg"
						class="align-top"
						height="48"
						data-toggle="tooltip"
						data-placement="auto"
						title="Struts 2 ⚪⚪⚪⚫⚫"
					/>
				</i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-angularjs-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.5s"
					data-toggle="tooltip"
					data-placement="auto"
					title="Angular & Material ⚪⚪⚪⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-nestjs-plain colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					title="NestJS ⚪⚫⚫⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-java-plain colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					data-wow-delay="0.1s"
					title="Java Swing ⚪⚪⚪⚪⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.2s">
					<img
						src="../../assets/skills/hibernate.svg"
						class="align-top"
						height="44"
						data-toggle="tooltip"
						data-placement="auto"
						title="Hibernate ⚪⚪⚪⚫⚫"
					/>
				</i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.3s">
					<img
						src="../../assets/skills/qt.svg"
						class="align-top"
						width="48"
						data-toggle="tooltip"
						data-placement="auto"
						title="Qt ⚪⚪⚫⚫⚫"
					/>
				</i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.4s">
					<img
						src="../../assets/skills/1280px-Maven_logo.svg.png"
						class="mt-n5"
						width="68"
						data-toggle="tooltip"
						data-placement="auto"
						title="Maven ⚪⚫⚫⚫⚫"
					/>
				</i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.5s">
					<img
						src="../../assets/skills/Extjs.png"
						class="mt-n5"
						height="70"
						data-toggle="tooltip"
						data-placement="auto"
						title="ExtJS ⚪⚪⚫⚫⚫"
					/>
				</i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY">
					<img
						src="../../assets/skills/300px-Mol_logo.svg.png"
						class="mt-n5"
						height="70"
						data-toggle="tooltip"
						data-placement="auto"
						title="Moleculer ⚪⚪⚫⚫⚫"
					/>
				</i>
			</div>
			<!-- <div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-jasmine-plain colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					data-wow-delay="0.1s"
					title="Jest ⚪⚫⚫⚫⚫"
				></i>
			</div> -->
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-electron-original colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					data-wow-delay="0.2s"
					title="ElectronJS ⚪⚫⚫⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-firebase-plain colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					data-wow-delay="0.3s"
					title="Firebase ⚪⚪⚫⚫⚫"
				></i>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-12">
				<h3 class="section-subheading mb-4" i18n>Outils</h3>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-jetbrains-plain colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					title="JetBrains ⚪⚪⚪⚪⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-git-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.1s"
					data-toggle="tooltip"
					data-placement="auto"
					title="Git ⚪⚪⚪⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-trello-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.2s"
					data-toggle="tooltip"
					data-placement="auto"
					title="Trello ⚪⚪⚪⚪⚫"
				></i>
			</div>
			<!-- <div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.3s">
					<img
						src="../../assets/skills/visual_paradigm_online.png"
						class="align-top"
						height="48"
						data-toggle="tooltip"
						data-placement="auto"
						title="Visual Paradigm Online ⚪⚪⚪⚫⚫"
					/>
				</i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.4s">
					<img
						src="../../assets/skills/astah.png"
						class="align-top"
						height="46"
						data-toggle="tooltip"
						data-placement="auto"
						title="Astah UML ⚪⚪⚪⚫⚫"
					/>
				</i>
			</div> -->
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-visualstudio-plain colored icon fa-3x devicon wow flipInY"
					data-wow-delay="0.3s"
					data-toggle="tooltip"
					data-placement="auto"
					title="Visual Studio ⚪⚪⚪⚫⚫"
				></i>
			</div>
			<!-- <div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-nodejs-plain colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					title="Nodejs ⚪⚪⚫⚫⚫"
				></i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i
					class="devicon-npm-original-wordmark colored icon fa-3x devicon wow flipInY"
					data-toggle="tooltip"
					data-placement="auto"
					title="NPM ⚪⚪⚫⚫⚫"
				></i>
			</div> -->
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.4s">
					<img
						src="../../assets/skills/gant.png"
						class="align-top"
						height="46"
						data-toggle="tooltip"
						data-placement="auto"
						title="Gantt Project ⚪⚪⚪⚫⚫"
					/>
				</i>
			</div>
			<div class="col-6 col-md-3 col-sm-4 col-lg-2 mb-5">
				<i class="icon fa-3x devicon wow flipInY" data-wow-delay="0.5s">
					<img
						src="../../assets/skills/uml.png"
						class="align-top"
						height="48"
						data-toggle="tooltip"
						data-placement="auto"
						title="UML ⚪⚪⚪⚪⚫"
					/>
				</i>
			</div>
		</div>
	</div>
</section>
