<mat-sidenav-container fxFlexFill>
	<mat-sidenav #sidenav fxLayout="column" class="sidenav">
		<div fxLayout="column">
			<button class="nav-item" mat-button (click)="scrollTo('about')">
				<mat-icon class="mr-3 mb-1">person</mat-icon>
				<span i18n="@@about">À propos</span>
			</button>
			<button class="nav-item" mat-button (click)="scrollTo('experiences')">
				<mat-icon class="mr-3 mb-1">business</mat-icon>
				<span i18n="@@experiences">Expériences</span>
			</button>
			<button class="nav-item" mat-button (click)="scrollTo('education')">
				<mat-icon class="mr-3 mb-1">school</mat-icon>
				<span i18n="@@education">Formations</span>
			</button>
			<button class="nav-item" mat-button (click)="scrollTo('skills')">
				<mat-icon class="mr-3 mb-1">code</mat-icon>
				<span i18n="@@skills">Compétences</span>
			</button>
			<button class="nav-item" mat-button (click)="scrollTo('projects')">
				<mat-icon class="mr-3 mb-1">collections_bookmark</mat-icon>
				<span i18n="@@projects">Projets</span>
			</button>
			<button class="nav-item" mat-button (click)="scrollTo('interests')">
				<mat-icon class="mr-3 mb-1">favorite</mat-icon>
				<span i18n="@@interests">Centres d'intérêts</span>
			</button>
			<button class="nav-item" mat-button>
				<mat-icon class="mr-3 mb-1">contact_mail</mat-icon>
				<span i18n="@@contact">Contact</span>
			</button>
		</div>
		<div fxLayout="row" fxLayoutAlign="center" class="my-2">
			<a href="https://github.com/kilian-paquier" class="mx-1" target="_blank">
				<fa-icon [icon]="faGithub" style="font-size: 1.5rem"></fa-icon>
			</a>
			<a href="https://www.linkedin.com/in/kilian-paquier/" class="mx-1" target="_blank">
				<fa-icon [icon]="faLinkedinIn" style="font-size: 1.5rem"></fa-icon>
			</a>
			<a (click)="changeTheme()" class="mx-1 pointer mt-1-5">
				<mat-icon style="font-size: 1.5rem">brightness_6</mat-icon>
			</a>
			<a href="/en" class="mx-1 pointer mt-1-5" i18n-href>
				<i id="lang" class="flag-icon" style="font-size: 1.5rem"></i>
			</a>
		</div>
	</mat-sidenav>
	<mat-sidenav-content #sidenavcontent fxFlexFill (scroll)="progress()">
		<mat-progress-bar class="progress-bar" [value]="progressbarValue" color="primary"></mat-progress-bar>
		<router-outlet name="about"></router-outlet>
		<router-outlet name="experiences"></router-outlet>
		<router-outlet name="education"></router-outlet>
		<router-outlet name="skills"></router-outlet>
		<router-outlet name="projects"></router-outlet>
		<router-outlet name="interests"></router-outlet>
		<router-outlet name="contact"></router-outlet>
		<router-outlet name="footer"></router-outlet>
		<div class="nav-button">
			<button mat-fab color="primary" onclick="this.blur()" (click)="sidenav.toggle()" class="pointer button">
				<mat-icon>menu</mat-icon>
			</button>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
