<div class="text-center">
	<h1 class="text-uppercase" mat-dialog-title>Liste d'étudiants</h1>
</div>

<mat-dialog-content>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 offset-lg-2 mb-3 text-center">
				<img class="img-fluid mx-auto" src="../../../assets/images/students.jpg" />
			</div>
			<!-- <div class="col-12 text-center">
				<p i18n>
					Durant ma deuxième année à Polytech Tours, j'ai développé une application de génération de listes
					d'étudiants prenant en paramètre différentes caractéristiques (groupes, groupes d'anglais,
					redoublements, mobilités). En entrée de l'application, l'utilisateur fourni la liste des étudiants
					(avec les caractéristiques de chaque étudiant) puis, il peut choisir les différentes générations
					qu'il souhaite avec les caractéristiques souhaitées. L'exportation se fait dans un fichier Excel et
					les étudiants sont triés alphabétiquement.
				</p>
			</div> -->
			<div class="col-12 col-lg-6">
				<div mat-subheader>Fonctionnalités</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Lecture d'un fichier Excel / CSV</li>
					<li class="list-group-item">Génération de listes d'étudiants</li>
					<li class="list-group-item">Prise en compte des attributs passés dans le fichier Excel</li>
					<li class="list-group-item">Plusieurs choix de génération</li>
					<li class="list-group-item">Enregistrement de templates</li>
				</ul>
			</div>
			<div class="col-12 col-lg-6">
				<div mat-subheader>Contexte</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Polytech Tours</li>
					<li class="list-group-item">Développement Java</li>
					<li class="list-group-item">Swing</li>
					<li class="list-group-item">Planification, spécifications techniques et fonctionnelles</li>
				</ul>
			</div>
			<div class="col-12 text-center">
				<a href="https://github.com/kilian-paquier/liste-etudiants" class="mx-1" target="_blank">
					<fa-icon [icon]="faGithub" class="fa-3x"></fa-icon>
				</a>
			</div>
			<div class="col-12">
				<mat-list>
					<mat-list-item>
						<mat-icon mat-list-icon>calendar_today</mat-icon>
						<div i18n>Septembre à Décembre 2018</div>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<mat-icon mat-list-icon>person</mat-icon>
						<div i18n>Enseignant chercheur</div>
					</mat-list-item>
				</mat-list>
			</div>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close i18n="@@closedialog" class="text-uppercase">Fermer le projet</button>
</mat-dialog-actions>
