/* Theming */

@import '~@angular/material/theming';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();

/* CSS */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.pointer {
	cursor: pointer;
}

button:focus {
	outline: none;
	box-shadow: none;
}

.nav-button {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.nav-item {
	height: 55px;
	text-align: left !important;
}

.sidenav {
	padding-top: 1rem !important;
}

/* Couleurs thème clair */

$light-primary: mat-palette($mat-blue, 700);
$light-accent: mat-palette($mat-orange, 700);
$light-warn: mat-palette($mat-red, 700);

/* Définition du thème clair */

$light-theme: mat-light-theme(
	(
		color: (
			primary: $light-primary,
			accent: $light-accent,
			warn: $light-warn,
		),
	)
);

/* Enrgistrement du thème clair */

@include angular-material-theme($light-theme);

/* Couleurs du thème sombre */

$dark-primary: mat-palette($mat-blue, 700);
$dark-accent: mat-palette($mat-orange, 800);
$dark-warn: mat-palette($mat-red, 700);

/* Définition du thème sombre */

$dark-theme: mat-dark-theme(
	(
		color: (
			primary: $dark-primary,
			accent: $dark-accent,
			warn: $dark-warn,
		),
	)
);

/* Enregistrement du thème sombre */

.dark-theme {
	@include angular-material-color($dark-theme);
	// @import '~@angular/material/prebuilt-themes/purple-green.css';
}

// .light-theme {
// 	@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// }
