@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'mixins.scss';
@import 'theme.scss';

/* CSS */

html,
body {
	height: 100%;
}

body {
	overflow-x: hidden;
	@include body-font;
}

p {
	line-height: 1.75;
}

a.link,
button.button {
	&:hover,
	&:active {
		// -webkit-box-shadow: 0 0 0 0.2rem mat-color($lighten-primary-color) !important;
		// box-shadow: 0 0 0 0.2rem mat-color($lighten-primary-color) !important;
		// border-color: mat-color($lighten-primary-color) !important;
		background-color: $darken-primary-color !important;
	}
	// &:focus {
	// 	background-color: mat-color($primary) !important;
	// }
}

a {
	text-decoration: none !important;
}

a,
button,
button:hover,
a:hover {
	transition: ease-in-out all 0.15s;
	-moz-transition: ease-in-out all 0.15s;
	-o-transition: ease-in-out all 0.15s;
	-webkit-transition: ease-in-out all 0.15s;
}

button {
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}

.text-primary {
	color: mat-color($primary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	@include heading-font;
}

section {
	padding: 75px 0;
	h2.section-heading {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 15px;
	}
	h3.section-subheading {
		font-size: 16px;
		font-weight: 400;
		font-style: italic;
		margin-bottom: 75px;
		text-transform: none;
		@include serif-font;
	}
}

@media (min-width: 768px) {
	section {
		padding: 125px 0;
	}
}

::-moz-selection {
	background: mat-color($primary);
	text-shadow: none;
}

::selection {
	background: mat-color($primary);
	text-shadow: none;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

.pointer {
	cursor: pointer;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

.flip-container {
	perspective: 1000px;
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
}

.flip-container,
.front,
.back {
	width: 100%;
	height: 100%;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	position: relative;
}

.front,
.back {
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

.dark-theme .border-experiences {
	z-index: 100;
	left: 0;
	width: 115px;
	height: 115px;
	margin-left: 0;
	text-align: center;
	color: $lighten-dark-color;
	border: 7px solid $lighten-dark-color;
	border-radius: 100%;
}

.border-experiences {
	z-index: 100;
	left: 0;
	width: 115px;
	height: 115px;
	margin-left: 0;
	text-align: center;
	color: $darken-light-color;
	border: 7px solid $darken-light-color;
	border-radius: 100%;
}

.mt-1-5 {
	margin-top: 0.375rem !important; // fixme différence desktop et mobile
}

.fa-3x {
	font-size: 3em;
}

// .grecaptcha-badge {
// 	width: 70px !important;
// 	overflow: hidden !important;
// 	transition: all 0.3s ease-in-out !important;
// 	left: 0.75rem !important;
// 	bottom: 0.75rem !important;
// 	z-index: 101;
// }

.grecaptcha-badge {
	bottom: 5rem !important;
	z-index: 101;
}

.mr-2-5 {
	margin-right: 0.75rem;
}

.mr-3-1 {
	margin-right: 1.1rem;
}

.mr-3-5 {
	margin-right: 1.5rem;
}

// .grecaptcha-badge:hover {
// 	width: 256px !important;
// }

// .timeline-body ul,
// #experiences ul {
// 	list-style-type: none !important;
// 	margin-right: 0px;
// 	margin-left: 0px;
// 	padding-left: 0px;
// 	padding-right: 0px;
// }

// .timeline-body li,
// #experiences li {
// 	margin-bottom: 6px;
// 	margin-top: 6px;
// }

@import 'styles/scss/app.scss';
@import 'styles/scss/about.scss';
@import 'styles/scss/contact.scss';
@import 'styles/scss/education.scss';
@import 'styles/scss/experiences.scss';
@import 'styles/scss/footer.scss';
@import 'styles/scss/images.scss';
@import 'styles/scss/interests.scss';
@import 'styles/scss/projects.scss';
@import 'styles/scss/skills.scss';
