/* Theming */

@import '~@angular/material/theming';
@include mat-core();

/* Couleurs */

$primary: mat-palette($mat-blue, 700);
$lighten-primary-color: lighten(mat-color($primary), 15%); // TODO

/* Thème clair */

$light-accent: mat-palette($mat-orange, 700);
$light-warn: mat-palette($mat-red, 700);
$light-theme: mat-light-theme(
	(
		color: (
			primary: $primary,
			accent: $light-accent,
			warn: $light-warn,
		),
	)
);
@include angular-material-theme($light-theme);
$light-background: map-get($mat-grey, 50);
$darken-light-color: darken($light-background, 10%);

/* Thème sombre */

$dark-accent: mat-palette($mat-orange, 800);
$dark-warn: mat-palette($mat-red, 700);
$dark-theme: mat-dark-theme(
	(
		color: (
			primary: $primary,
			accent: $dark-accent,
			warn: $dark-warn,
		),
	)
);

.dark-theme {
	@include angular-material-color($dark-theme);
}
$dark-background: #303030;
$lighten-dark-color: lighten($dark-background, 10%);
