<div class="text-center">
	<h1 class="text-uppercase" mat-dialog-title>For The Berry</h1>
</div>

<mat-dialog-content>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 offset-lg-2 mb-3 text-center">
				<img class="img-fluid mx-auto" src="../../../assets/images/fortheberry.png" />
			</div>
			<!-- <div class="col-12 text-center">
				<p i18n>
					Dans le cadre d'un cours de développement de jeux vidéo, j'ai travaillé avec sept autres étudiants
					sur un jeu nommé For The Berry. Nous avons développé (hors animations que nous avons récupéré sur
					Mixamo et designs des objets, personnages et armes que nous avons récupéré dans des banques de mesh
					et prefabs) le prototype du jeu de A à Z en passant par l'écriture de l'histoire (background),
					l'incrustation des personnages et ennemis dans le jeu, le comportement des ennemis, l'incrustation
					des armes avec les dégâts. Pour le développement nous avons utilisé l'outil de versionning Perforce
					(très utilisé pour le développement de jeux vidéo), Unity pour le moteur de jeu et Rider en tant
					qu'IDE. Nous avons fonctionné en méthodologie Scrum avec quatre sprints et une répartition des
					tâches via Trello.
				</p>
			</div> -->
			<div class="col-12 col-lg-6">
				<h6 i18n="@@functionalities">Fonctionnalités</h6>
				<ul class="list-group list-group-flush">
					<li class="list-group-item" i18n>Jeu vidéo Beat Them All (BTA)</li>
					<li class="list-group-item" i18n>Jouable à 4 joueurs</li>
					<li class="list-group-item" i18n>Éliminer les ennemis pour avancer dans le jeu</li>
					<li class="list-group-item" i18n>Utilisation de plusieurs types d'armes : épée, arc, bâton</li>
					<li class="list-group-item" i18n>
						Création du jeu de A à Z : histoire, comportements des ennemis, incrustation des personnages et
						des armes
					</li>
				</ul>
			</div>
			<div class="col-12 col-lg-6">
				<h6 i18n="@@context">Contexte</h6>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">UQAC</li>
					<li class="list-group-item" i18n>Développement C#</li>
					<li class="list-group-item" i18n>Utilisation du moteur de jeux Unity</li>
					<li class="list-group-item" i18n>Versionning Perforce, Animations avec Maximo</li>
				</ul>
			</div>
			<div class="col-12 text-center">
				<a href="https://rogue888.itch.io/for-the-berry" class="mx-1" target="_blank">
					<i class="fa-3x">
						<img src="../../../assets/images/itchio.png" width="68" />
					</i>
				</a>
			</div>
			<div class="col-12">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<fa-icon [icon]="faCalendar" class="mr-3-5"></fa-icon>
						<span i18n>Janvier à Avril 2020</span>
					</li>
					<li class="list-group-item">
						<fa-icon [icon]="faCourse" class="mr-3-1"></fa-icon>
						<span i18n>Laboratoire des jeux vidéos</span>
					</li>
					<li class="list-group-item">
						<fa-icon [icon]="faUsers" class="mr-2-5"></fa-icon>
						Alexia NEUFOND, Yann GALAN, Vincent BOYER, Vincent RABIER, Théo BERTET, Christopher LERET,
						Benoît RICHARD, Kilian PAQUIER
					</li>
				</ul>
			</div>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close i18n="@@closedialog" class="text-uppercase">Fermer le projet</button>
</mat-dialog-actions>
