<div class="text-center">
	<h1 class="text-uppercase" mat-dialog-title>For The Berry</h1>
</div>

<mat-dialog-content>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 offset-lg-2 mb-3 text-center">
				<img class="img-fluid mx-auto" src="../../../assets/images/fortheberry.png" />
			</div>
			<!-- <div class="col-12 text-center">
				<p i18n>
					Dans le cadre d'un cours de développement de jeux vidéo, j'ai travaillé avec sept autres étudiants
					sur un jeu nommé For The Berry. Nous avons développé (hors animations que nous avons récupéré sur
					Mixamo et designs des objets, personnages et armes que nous avons récupéré dans des banques de mesh
					et prefabs) le prototype du jeu de A à Z en passant par l'écriture de l'histoire (background),
					l'incrustation des personnages et ennemis dans le jeu, le comportement des ennemis, l'incrustation
					des armes avec les dégâts. Pour le développement nous avons utilisé l'outil de versionning Perforce
					(très utilisé pour le développement de jeux vidéo), Unity pour le moteur de jeu et Rider en tant
					qu'IDE. Nous avons fonctionné en méthodologie Scrum avec quatre sprints et une répartition des
					tâches via Trello.
				</p>
			</div> -->
			<div class="col-12 col-lg-6">
				<div mat-subheader>Fonctionnalités</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Jeu vidéo Beat Them All (BTA)</li>
					<li class="list-group-item">Jouable à 4 joueurs</li>
					<li class="list-group-item">Éliminer les ennemis pour avancer dans le jeu</li>
					<li class="list-group-item">Utilisation de plusieurs types d'armes : épée, arc, bâton</li>
					<li class="list-group-item">
						Création du jeu de A à Z : histoire, comportements des ennemis, incrustation des personnages et
						des armes
					</li>
				</ul>
			</div>
			<div class="col-12 col-lg-6">
				<div mat-subheader>Contexte</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">UQAC</li>
					<li class="list-group-item">Développement C#</li>
					<li class="list-group-item">Utilisation du moteur de jeux Unity</li>
					<li class="list-group-item">Versionning Perforce, Animations avec Maximo</li>
				</ul>
			</div>
			<div class="col-12 text-center">
				<a href="https://rogue888.itch.io/for-the-berry" class="mx-1" target="_blank">
					<i class="fa-3x">
						<img src="../../../assets/images/itchio.png" width="68" />
					</i>
				</a>
			</div>
			<div class="col-12">
				<mat-list>
					<mat-list-item>
						<mat-icon mat-list-icon>calendar_today</mat-icon>
						<div i18n>Janvier à Avril 2020</div>
					</mat-list-item>
					<mat-divider></mat-divider>
					<mat-list-item>
						<mat-icon mat-list-icon>book</mat-icon>
						<div i18n>Laboratoire des jeux vidéos</div>
					</mat-list-item>
				</mat-list>
			</div>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close i18n="@@closedialog" class="text-uppercase">Fermer le projet</button>
</mat-dialog-actions>
