section#contact {
	// background-image: url('../../assets/images/map-image.png') !important;
	background-repeat: no-repeat;
	background-position: center;
}

.submit-button {
	font-size: 17px !important;
	padding: 15px 30px !important;
}

.message-area {
	height: 199.1px !important;
}
